html, body{

    padding: 0;
    margin: 0;

}

.carrito{
    position: absolute;
    top: 2%;
    left: 5%;
}

.Total{
    font-size: 20px;
    text-align: center;
}

.container{
    margin-top: 50px !important;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-bottom: 50px;
    box-shadow: 0 12px 12px rgba(0,0,0,0.2);
}

.link_catalogo{
    text-decoration: none;
    color: #ffb03b;
}

.link_catalogo:hover{
    color: #1272FE;
}

.card_shopping{
    width: 100%;
    height: 220px;
    border-radius: 8px;
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    overflow: hidden;
    margin: 20px;
    text-align:left;
    transition: all 0.25s;
    position: relative;
}
.card_shopping:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0,0,0,0.2);
    height: 230px;
}

.card_shopping img{
    height: 90%;
    position: absolute;
    left: 10px;
    bottom: 5%;
}

.card_shopping .product_name{
    position: absolute;
    left: 25%;
}

.card_shopping .product_description{
    position: absolute;
    left: 25%;
    top: 25%;
    width: 40%;
}

.card_shopping .product_details{
    position: absolute;
    left: 25%;
    bottom: 5%;
    font-size: 12px;
}

.card_shopping .product_details span{
    font-weight: bolder;
}

.card_shopping .price{
    position: absolute;
    right: 5%;
    top: 15%;
}

.Cart_Count{
    text-decoration: none;
    color: #ffb03b;
}

.card_shopping .amount{
    position: absolute;
    right: 5%;
    top: 40%;
    width: 15%;
    height: 25%;
    border: 2px solid rgba(0,0,0,0.2);
    background: transparent;
    z-index: 100;
    border-radius: 10px;
}

.card_shopping .amount button, input{
    width: 32.56%;
    height: 100%;
    margin: 0%;
    border: none;
    text-align: center;
    background: transparent;
    position: relative;
    overflow: hidden;
}

.card_shopping .amount button{
    font-size: 150%;
    color: #1272FE;
    font-weight: bolder;
    cursor: pointer;
}

.card_shopping .amount input{
    outline: none;
}

.card_shopping .amount button:hover{
    background: #1272FE;
    color: white;
}

.card_shopping .Stock{
    position: absolute;
    right: 5%;
    top: 60%;
    color: gray;
}

.card_shopping .delete{
    position: absolute;
    right: 2%;
    top: 5%;
    color: red;
    cursor: pointer;
}

@media (max-width: 1180px){
    .card_shopping{
        width: 100%;
        height: 220px;
        border-radius: 8px;
        border: 1px solid rgba(0,0,0,0.2);
        box-shadow: 0 2px 2px rgba(0,0,0,0.2);
        overflow: hidden;
        margin: 20px;
        text-align:left;
        transition: all 0.25s;
        position: relative;
    }
    .card_shopping:hover{
        transform: translateY(-15px);
        box-shadow: 0 12px 16px rgba(0,0,0,0.2);
        height: 230px;
    }
    
    .card_shopping img{
        height: 90%;
        position: absolute;
        left: 10px;
        bottom: 5%;
    }
    
    .card_shopping .product_name{
        position: absolute;
        left: 28%;
    }
    
    .card_shopping .product_description{
        position: absolute;
        left: 28%;
        top: 25%;
        width: 40%;
    }
    
    .card_shopping .product_details{
        position: absolute;
        left: 28%;
        bottom: 5%;
        font-size: 12px;
    }
    
    .card_shopping .product_details span{
        font-weight: bolder;
    }
    
    .card_shopping .price{
        position: absolute;
        right: 5%;
        top: 15%;
    }
    
    .card_shopping .amount{
        position: absolute;
        right: 5%;
        top: 40%;
        width: 15%;
        height: 25%;
        border: 2px solid rgba(0,0,0,0.2);
        background: transparent;
        z-index: 100;
        border-radius: 10px;
    }
    
    .card_shopping .amount button, input{
        width: 32%;
        height: 100%;
        margin: 0%;
        border: none;
        text-align: center;
        background: transparent;
        position: relative;
        overflow: hidden;
    }
    
    .card_shopping .amount button{
        font-size: 100%;
        color: #1272FE;
        font-weight: bolder;
        cursor: pointer;
    }
    
    .card_shopping .amount input{
        outline: none;
    }
    
    .card_shopping .amount button:hover{
        background: #1272FE;
        color: white;
    }
    
    .card_shopping .Stock{
        position: absolute;
        right: 5%;
        top: 60%;
        color: gray;
    }
    
    .card_shopping .delete{
        position: absolute;
        right: 2%;
        top: 5%;
        color: red;
        cursor: pointer;
    }
}

@media (max-width: 980px){
    .card_shopping .product_name{
        font-size: 20px;
        left: 30%;
    }

    .card_shopping .product_description{
        font-size: 12px;
        left: 30%;
    }

    .card_shopping .product_details{
        font-size: 10px;
        left: 30%;
    }
    
}

@media (max-width: 840px){
    .card_shopping .product_name{
        font-size: 20px;
        left: 35%;
    }

    .card_shopping .product_description{
        font-size: 12px;
        left: 35%;
    }

    .card_shopping .product_details{
        font-size: 10px;
        left: 35%;
    }
}

@media (max-width: 760px) {
    .card_shopping .product_name{
        font-size: 20px;
        left: 40%;
    }

    .card_shopping .product_description{
        font-size: 12px;
        left: 40%;
    }

    .card_shopping .product_details{
        font-size: 10px;
        left: 40%;
    }
}

@media (max-width: 700px){
    .card_shopping{
        width: 100%;
        margin-top: 10px;
    }

    .card_shopping{
        height: 500px;
    }

    .card_shopping img{
        width: 96%;
        height: calc(96vw/1.5);
        top: 2%;
    }

    .card_shopping .product_name{
        top: 72%;
        left: 25%;
    }

    .card_shopping .product_details{
        top: 80%;
        left: 35%;
    }
    .card_shopping .product_description{
        color: transparent;
    }

    .card_shopping .amount{
        height: 5%;
        top: 87%;
        width: 30%;
        left: 35%;
    }

    .card_shopping .Stock{
        top: 90%;
        left: 46%;
    }

    .card_shopping .price{
        top: 87%;
    }

}