html, body{

    padding: 0;
    margin: 0;

}

.carrito{
    position: absolute;
    top: 2%;
    left: 5%;
}

.container{
    margin-top: 50px !important;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-bottom: 50px;
    box-shadow: 0 12px 12px rgba(0,0,0,0.2);
}

.card{
    width: 30%;
    height: 440px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    color: white;
    position: relative;
}

.card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0,0,0,0.2);
    height: 490px;
    color: black;
}

.card img{
    width: 100%;
}

.card_info h3{
    color: black;
}

.card_info .titulo_producto{
    font-size: 20px;
    height: 50px;
}


.card_info .add_to_car{
    position: relative;
    float: left;
    width: 48%;
    height: 50px;
    border: 2px solid #ffb03b;
    color: #ffb03b;
    background: transparent;
    border-radius: 10px;
    font-weight: bold;
    transition: all 0.25s;
    cursor: pointer;
}

.card_info .add_to_car:hover{
    background: #ffb03b;
    color: white;
}

.card_info .add_to_car:active{
    background: #ffb03b;
    transform:scale(0.9);
}

.card .category_brand{
    color: black;
}

.card_info .show_details{
    position: relative;
    float: right;
    width: 48%;
    height: 50px;
    background: transparent;
    border: 2px solid #1272FE;
    color: #1272FE;
    border-radius: 10px;
    font-weight: bold;
    transition: all 0.25s;
    cursor: pointer;
}

.card_info .show_details:hover{
    background: #1272FE;
    color: white;
}

.card_info .show_details:active{
    background: #1272FE;
    transform:scale(0.9)
}



.card_info{
    padding: 5px;
    position: relative;
}

.card h6{
    position: absolute;
    margin: 5px;  
}

.icon_rating{
    font-weight: bold;
    color: green;
}

.icon_numReviews{
    font-weight: bold;
    color: blue;
}

.icons{
    position: absolute;
    right: 10px;
}

.card_info .add_disabled{
    background: #f3d2a0;
    border: 0;
    color: white;
    position: relative;
    float: left;
    width: 48%;
    height: 50px;
    border-radius: 10px;
    font-weight: bold;
    transition: all 0.25s;
}

.card .without_Stock{
    background: #ffb03b;
    color: white;
    position: absolute;
    right: 0;
    padding: 5px;
    font-weight: bolder;
    font-size: 12px;
} 

@media (max-width: 1100px){
    .card {
        height: 410px;
        color: black;
    }

    .card .titulo_producto{
        font-size: 15px;
    }
}

@media (max-width: 950px){
    .card_info .show_details{
        width: 100%;
        margin-top: 10px;
    }

    .card{
        height: 450px;
    }

    .card_info .add_to_car{
        width: 100%;
    }

    .card_info .add_disabled{
        width: 100%;
    }
}

@media (max-width: 880px){
    .card{
        width: 100%;
        height: 125vh;
        color: black;
    }
    .card:hover{
        width: 100%;
        height: 125vh;
        color: black;
    }
}

@media (max-width: 740px) {
    .card{
        width: 100%;
        height: 115vh;
        color: black;
    }

    .card:hover{
        width: 100%;
        height: 115vh;
        color: black;
    }

    .card .titulo_producto{
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .card{
        width: 100%;
        height: 80vh;
        color: black;
    }

    .card:hover{
        width: 100%;
        height: 80vh;
        color: black;
    }

    .card .titulo_producto{
        font-size: 20px;
    }
}