html, body{

    padding: 0;
    margin: 0;

}

.carrito{
    position: absolute;
    top: 2%;
    left: 5%;
}

.container_details{
    margin-top: 50px !important;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-bottom: 50px;
    box-shadow: 0 12px 12px rgba(0,0,0,0.2);
}

.card_shopping_detail{
    width: 100%;
    height: 600px;
    border-radius: 8px;
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    overflow: hidden;
    margin: 10px;
    text-align:left;
    transition: all 0.25s;
    position: relative;
}

.card_shopping_detail img{
    height: 90%;
    position: absolute;
    left: 10px;
    bottom: 5%;
}

.card_shopping_detail .product_name_detail{
    position: absolute;
    left: 60%;
    top: 1%;
}

.card_shopping_detail .product_description_detail{
    position: absolute;
    left: 60%;
    top: 15%;
    width: 40%;
}

.card_shopping_detail .product_details_detail{
    position: absolute;
    left: 1%;
    top: 0%;
    font-size: 12px;
}

.card_shopping_detail .product_details_detail span{
    font-weight: bolder;
}

.card_shopping_detail .price_detail{
    position: absolute;
    left: 60%;
    top: 30%;
    font-size: 50px;
}

.card_shopping_detail .Stock_detail{
    position: absolute;
    left: 60%;
    top: 50%;
    color: gray;
}


.icon_rating_details{
    font-weight: bold;
    color: green;
}

.icon_numReviews_details{
    font-weight: bold;
    color: blue;
}

.icons_details{
    position: absolute;
    left: 60%;
    top: 35%;
}

.add_disabled_details{
    background: #f3d2a0;
    border: 0;
    color: white;
    position: absolute;
    right: 2%;
    bottom: 15%;
    width: 37%;
    height: 50px;
    border-radius: 10px;
    font-weight: bold;
    transition: all 0.25s;
}


.add_to_car_details{
    position: absolute;
    right: 2%;
    bottom: 15%;
    width: 37%;
    height: 50px;
    border: 2px solid #ffb03b;
    color: #ffb03b;
    background: transparent;
    border-radius: 10px;
    font-weight: bold;
    transition: all 0.25s;
    cursor: pointer;
}

.add_to_car_details:hover{
    background: #ffb03b;
    color: white;
}

.add_to_car_details:active{
    background: #ffb03b;
    transform:scale(0.9);
}


.amount_details{
    position: absolute;
    right: 2%;
    bottom: 25%;
    width: 36.5%;
    height: 10%;
    border: 2px solid rgba(0,0,0,0.2);
    background: transparent;
    border-radius: 10px;
}

.amount_details input{
    width: 100%;
    height: 100%;
    margin: 0%;
    border: none;
    text-align: center;
    background: transparent;
    position: relative;
    overflow: hidden;
}

.amount_details input{
    outline: none;
}

@media (max-width: 1200px){
    
    .card_shopping_detail img{
        height: 75%;
        bottom: 15%;
    }
}

@media (max-width: 1000px){
    
    .card_shopping_detail img{
        height: 80%;
        top: 10%;
    }

    .card_shopping_detail{
        height: 500px;
    }

    .card_shopping_detail .product_name_detail{
        font-size: 20px;
        top: 8%;
    }

    .card_shopping_detail .product_description_detail{
        font-size: 14px;
    }

    .card_shopping_detail .price_detail{
        font-size: 30px;
        top: 35%;
    }

    .card_shopping_detail .Stock_detail{
        top: 45%;
    }

    .card_shopping_detail .amount_details{
        bottom: 30%;
    }

}

@media (max-width: 890px){
    .card_shopping_detail img{
        height: 70%;
        top: 10%;
    }
}

@media (max-width: 780px) {
    .card_shopping_detail img{
        width: 97%;
        height: calc(100vw / 1.5);
        top: 2%;
    }

    .card_shopping_detail{
        height: 110vh;
    }

    .card_shopping_detail .product_details_detail{
        top: 2%;
        left: 2%;
    }

    .card_shopping_detail .product_name_detail{
        font-size: 20px;
        top: 70%;
        left: 30%;
    }

    .card_shopping_detail .product_description_detail{
        font-size: 14px;
        top: 75%;
        left: 10%;
        width: 80%;
    }

    .card_shopping_detail .price_detail{
        font-size: 30px;
        top: 78%;
        left: 40%;
    }

    .card_shopping_detail .Stock_detail{
        top: 83%;
        left: 45%;
    }

    .card_shopping_detail .amount_details{
        bottom: 5%;
        width: 45%;
        height: 5%;
        left: 5%;
    }

    .card_shopping_detail .add_to_car_details{
        bottom: 5%;
        width: 45%;
        height: 5.5%;
        left: 52%;
    }
    .card_shopping_detail .icons_details{
        top: 3%;
        left: 90%;
    }
    .card_shopping_detail .add_disabled_details{
        bottom: 5%;
        width: 45%;
        height: 5.5%;
        left: 52%;
    }

}