.Nav{
    width: 100vw;
    background: black;
    height: 45px;
    text-align: center;
}

.Nav .nav-item{
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-size: 25px;
    transition: all 0.25s;
}



.nav-item:hover{
    border-bottom: 5px solid #ffb03b;
    color: #ffb03b;
}